<app-navigability
  [title]="title"
  [namePage]="namePage"
  [subtitle]="subtitle"
></app-navigability>

<div class="container" [formGroup]="frmChangePassword">
  <div class="row">
    <mat-form-field class="w-30" appearance="outline">
      <mat-label>Contraseña Actual</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="oldPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Contraseña Actual'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon [svgIcon]="getIcon()"></mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="w-30" appearance="outline">
      <mat-label>Nueva contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="newPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Nueva contraseña'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon [svgIcon]="getIcon()"></mat-icon>
      </button>
      <mat-error
        *ngIf="frmChangePassword.get('newPassword')?.hasError('required')"
      >
        Por favor, Ingrese nueva contraseña
      </mat-error>
      <mat-error
        *ngIf="frmChangePassword.get('newPassword')?.hasError('minlength')"
      >
        Debe ingresar 8 caracteres como minimo
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="w-30" appearance="outline">
      <mat-label>Repita nueva contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="repiteNewPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Repita nueva contraseña'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon [svgIcon]="getIcon()"></mat-icon>
      </button>
      <mat-error
        *ngIf="frmChangePassword.get('repiteNewPassword')?.hasError('required')"
      >
        Por favor, Ingrese nueva contraseña
      </mat-error>
      <mat-error
        *ngIf="
          frmChangePassword.get('repiteNewPassword')?.hasError('minlength')
        "
      >
        Debe ingresar 8 caracteres como minimo
      </mat-error>
      <mat-error
        *ngIf="
          frmChangePassword.get('repiteNewPassword')?.hasError('passwordMatch')
        "
      >
        contraseñas no concuerdan
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <button class="btn" [disabled]="blDisabledSend()">Enviar</button>
  </div>
</div>
